.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 33rem;
  background-color: var(--color-blue-600);

  box-shadow: 5px 2px 29px 3px rgba(30, 30, 30, 0.27);
  border-radius: 0.8rem;
}

.card img {
  margin-top: 1.6rem;
  border: 0.2rem solid var(--color-yellow-900);
  border-radius: 50%;
}

.card span {
  margin: 1rem;
  font-weight: 500;
  font-size: 3.5rem;
}

.card p {
  background-color: var(--color-gray-700);
  border-radius: 0.8rem;
  border-top: 0.3rem solid var(--color-yellow-900);
  padding: 2.8rem;

  color: var(--color-gray-100);
  font-size: 2.4rem;
}