.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem clamp(1rem, 5vw, 6rem);
}

.header img {
  width: clamp(150px, 100%, 270px);
}

.header button {
  margin-top: 10px;
}